<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Home</title>
</head>
<body>
  <%- include("pages/partials/header.ejs") %> 
    <main>

        <section class="p-5">
           <% if (post.length) { %>

            <% post.forEach(element => { %>
              <div class="card text-center ">
                <div class="card-header">
                  <%= element.owner.username %> 
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= element.title %> </h5>
                  <p class="card-text">
                    <% if (element.body.length > 50) { %>
                      <%= element.body.substring(0, 50) %> ...
                      <% } else { %>
                        <%= element.body %>

                    <% } %>
                  </p>
                  <a href="/viewpost/<%= element.id %> " class="btn btn-primary">View more</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
            <% }) %>
            
           <% } %>
  
        </section>

    </main>
<%- include("pages/partials/footer.ejs") %> 

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>